body {
  background: hsla(0, 0%, 94%, 0.576);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: midnightblue;
}

#calculator-container {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 0.4rem;
  margin-top: 5rem;
  padding: 1rem;
  background-color: darkslategrey;
}

#screen {
  width: 360px;
  height: 6rem;
  background-color: darkblue;
  grid-column: 1 / -1;
  border-radius: 20px;
  margin-bottom: 10px;
  color: white;
  padding: 20px;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

button.clear {
  grid-column: 1 / 4;
}

button.zero {
  grid-column: 1 / 3;
}

div > button {
  padding: 2rem;
  font-size: 2rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}

.operation {
  background-color: orange;
}

button.number {
}

[data-state="selected"] {
  background: darkgreen;
}
